@import '@fortawesome/fontawesome-free/css/all.min.css';
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
*{
box-sizing: border-box;
}
body.dark-mode {
    /* background-color: #081E36; */
    background-color: #838383;
    /* background-color: #0A2E4D; */
    color: #ffffff;
}


  